// BODY

$color: black;

// BOUTONS

$btn-color: rgb(41, 41, 41);
$btn-bg: white;
$btn-bg-hover: #ac5642;
$btn-radius: 5px;

// SECTIONS

$section-color: white;
$section-bg: #e7816b;
$section-radius: 20px;

$shadow: 3px 3px 3px rgb(110, 110, 110);