// BODY

$color: #222355;

// BOUTONS

$btn-color: white;
$btn-bg: #22234f;
$btn-bg-hover: #d9e2f7;
// $btn-bg-hover: #ac5642;
// $btn-radius: 5px;

// SECTIONS

// $section-color: white;
// $section-bg: #e7816b;
// $section-radius: 20px;

$shadow: 0px 3px 3px rgb(232, 231, 231);